*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #EC715F;
	height: 70px;
	width: 100%;
}

.header-contents{
	width: 1024px;
	margin: 0 auto;
}
.header-logo{
	height: 70px;
}

nav{
	display: inline-block;
	float: right;
}
nav ul{

}
nav ul li{
	list-style: none;
	float: left;
	line-height: 70px;
	padding: 0 30px;
	font-size: 16px;
}
nav ul li a{
	color: #FAFAFA;
	text-decoration: none;
}
.fas{
	display: none !important;
}
main{
	background-image: url('img/mv.png');
	background-size: cover;
	height: 650px;
	color: #FAFAFA;
	text-align: center;
}

main h1{
	padding-top: 200px;
	font-size: 64px;
}
main p{
	padding-top: 10px;
	font-size: 20px
}
.portfolio{
	width: 920px;
	margin: 0 auto;
	color: #000000;
	background-color: #ECEFF1;
	text-align: center;
}
.portfolio h1{
	padding: 90px 0 8px 0;
	font-size: 32px;
}
.portfolio h1::after{
	content: "";
	display: block;
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
.portfolio-text{
	padding: 30px 0;
	font-size: 16px;
}
.portfolio-image{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 90px;
}
.portfolio-image img{
	width: 300px;
	height: 250px;
}
.portfolio-image img:nth-child(2){
	padding: 0 10px
}
.portfolio-image img:nth-child(5){
	padding: 0 10px;
}
.portfolio-image img:nth-child(1){
	padding-bottom: 10px;
}
.portfolio-image img:nth-child(2){
	padding-bottom: 10px;
}
.portfolio-image img:nth-child(3){
	padding-bottom: 10px;
}
.feature{
	width: 980px;
	text-align: center;
	margin: 0 auto;
}
.feature h1{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.feature h1::after{
	content: "";
	display: block;
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
.feature-text{
	padding: 30px;
	font-size: 16px;
	color: #000000;
}
.strength{
	width: 320px;
}
.container{
	display: flex;
	padding-bottom: 90px;
}
.strength .fab{
	font-size: 60px;
}
.strength h2{
	padding: 10px 0;
	font-size: 20px;
	color: #000000;
}
.strength p{
	text-align: left;
	font-size: 16px;
	color: #000000;
}
.strength:nth-child(2){
	padding: 0 10px;
}
.profile{
	text-align: center;
	margin: 0 auto;
	width: 1024px;
	background-color: #ECEFF1
}
.profile h1{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
}
.profile h1::after{
	content: "";
	display: block;
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
.profile-text{
	padding: 30px;
	font-size: 16px;
	color: #000000;
}
.profile-container{
	display: flex;
	padding-bottom: 90px;
}
.my-image{
	width: 512px
}
.my-image img{
	border-radius: 50%;
}
.profile-contents{
	width: 512px; 
	text-align: left;
}
.profile-contents h2{
	padding-bottom: 5px
}
.my-name{
	padding-bottom: 20px;
}
.contact{
	margin: 0 auto;
	width: 800px;
}
.contact h1{
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
	text-align: center;
}
.contact h1::after{
	content: "";
	display: block;
	margin: 0 auto;
	height: 3px;
	width: 70px;
	background-color: #EC715F;
}
.contact-text{
	padding: 30px;
	font-size: 16px;
	color: #000000;
	text-align: center;
}
.contact-container{
	display: flex;
	padding-bottom: 90px;	
}
.contact-contents{
	width: 400px;
}
.box{
	width: 50%;
	margin: 0 auto;
}
.box h2{
	padding-bottom: 5px;
	font-size: 20px;
}
.tel{
	padding-top: 20px;
}
.sns-icon{
	font-size: 50px;
}
footer{
	height: 60px;
	font-size: 16px;
	color: #FAFAFA;
	background-color: #EC715F;
	line-height: 60px;
	text-align: center;
}

@media screen and (max-width:768px) {  
    header{
    	height: 50px;
    }
    .header-contents{
    	width: 90%;
    }
    .header-logo{
    	height: 50px;
    }
    nav{
    	display: none;
    }
    .fa-bars{
    	float: right;
    	padding: 5px 0;
    	font-size: 40px;
    	color: white;
    }
    main{
    	height: 650px;
    	background-image: url('img/code.png')
    }
    main h1{
    	font-size: 40px;
    }
    main p{
    	font-size: 18px;
    }
    .portfolio{
    	width: 90%;
    }
    .portfolio-image img:nth-child(odd){
		display: none;
    }
    .portfolio-image img:nth-child(even){
		display: block;
		padding: 0;
		margin: 0 auto;
    }
    .portfolio-image img:nth-child(4){
    	margin: 10px auto;
    }
    .portfolio-image{
    	display: block;
    }
    .feature{
    	width: 90%;
    }
    .container{
    	display: block;
    }
    .strength{
    	margin: 0 auto;
    }
    .strength2{
    	margin: 10px auto;
    }
    .profile{
    	width: 90%;
    }
    .profile-container{
    	display: block;
    }
    .my-image{
    	margin: 0 auto;
    }
    .profile-contents{
    	display: block;
    	margin: 0 auto;
    	text-align: center;
    }
    .my-name{
    	margin-top: 20px;
    }
    .contact{
    	width: 90%;
    }
    .contact-container{
    	display: block;
    	text-align: center;
    }
    .contact-contents{
    	margin: 0 auto;
    }
    .sns-box{
    	margin-top:20px; 
    }
}