*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #EC715F;
	height: 70px;
	width: 100%;
}

.header-contents{
	width: 1024px;
	margin: 0 auto;
}
.header-logo{
	height: 70px;
}

nav{
	display: inline-block;
	float: right;
}
nav ul{

}
nav ul li{
	list-style: none;
	float: left;
	line-height: 70px;
	padding-right: 30px;
	font-size: 16px;
}
nav ul li a{
	color: #FAFAFA;
	text-decoration: none;
}
main{
	background-image: url(img/mv.png);
	background-size: cover;
	height: 650px;
	color: #FAFAFA;
	text-align: center;
}

main h1{
	padding-top: 200px;
	font-size: 64px;
}
main p{
	padding-top: 10px;
	font-size: 20px
}